body {
    background-color: cornflowerblue;
    margin: 0% 15% 0%;
    color: rgb(222, 222, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

/* Navigatie instellingen */
nav {
   background-color: rgb(82, 82, 197);
   height: 75px;
   border: 2px solid blue;
   border-radius: 4px;
}

nav ul a {
    color: white;
    text-decoration: none;

}
nav li {
    display: inline-block;
    height: 20px;
    width: 280px;
    padding: 12px;
    font-weight: 120%;
    text-align: center;
    color: white;
    border-left: 2px solid green;
    border-right: 1px solid green;
    background-color: lightsteelblue;

}

nav li:hover {
    background-color: blue;
    border-style: none;

}

/* einde navigatie instellingen */

#fotogerard {
    border: 1px solid black;
    border-radius: 8px;
}

legend {
    color: rgb(84, 84, 201);
}

#opleiding, #ervaring td {
    border-bottom: 1px solid rgb(133, 129, 129);
    
}

#contactform {
    display: inline-block;
}