body {
    background-color: cornflowerblue;
    margin: 0% 15% 0%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

/* Navigatie instellingen */
nav {
   background-color: rgb(82, 82, 197);
   height: 75px;
   border: 2px solid blue;
   border-radius: 4px;
}

nav ul a {
    color: white;
    text-decoration: none;

}
nav li {
    display: inline-block;
    height: 22px;
    width: 350px;
    padding: 12px;
    text-align: center;
    color: white;
    border-left: 2px solid green;
    border-right: 1px solid green;
    background-color: lightsteelblue;

}

nav li:hover {
    background-color: lightgreen;
    border-style: none;

}

/* einde navigatie instellingen */
